extends layout
//- <blink is no longer in use, so we will have to define it later!>
block layout-content
  div.View.WelcomeView
    h2.Banner Title <blink>_


    div.Message
      div.Title
        h2(style="text-align:center;") Title
        h4(style="text-align:center;") Some Caption!
